{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}
{% assign menu_links = section.settings.menu.links %}
{% assign total_links = menu_links | size %}
{% assign half = total_links | plus: 1 | divided_by: 2 %}
{% assign first_half = menu_links | slice: 0, half %}
{% assign second_half = menu_links | slice: half, total_links %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in second_half -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset{% if section.settings.highlight_menu == link.title %} highlight_menu{% endif %}"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >

                {% assign is_megamenu = false %}
                {% for block in section.blocks %}
                  {%- if block.type == 'mega-menu' and block.settings.menu_title == link.title -%}
                    {% assign is_megamenu = true %}
                  {% endif %}
                {% endfor %}

                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}

                  {% if is_megamenu == true %}
                    {% for block in section.blocks %}
                      {%- if block.type == 'mega-menu' and block.settings.menu_title == link.title -%}

                        {% if block.settings.megamenu__image1 != blank %}
                        {%- assign mm1_h = block.settings.megamenu__image1.width
                          | divided_by: block.settings.megamenu__image1.aspect_ratio
                          | round
                        -%}
                        <div class="megamenu__column">
                          <a href="{{ block.settings.megamenu__image1_link }}">
                            <div class="megamenu__image">
                              {{
                                block.settings.megamenu__image1
                                | image_url: width: 800
                                | image_tag:
                                  width: block.settings.megamenu__image1.width,
                                  height: mm1_h,
                                  sizes: '280px',
                                  widths: '200, 360, 560, 800',
                                  loading: 'lazy',
                                  alt: block.settings.megamenu__image1.alt | default: block.settings.megamenu__image1_title | default: link.title
                              }}
                            </div>
                            {% if block.settings.megamenu__image1_title != blank %}
                            <div class="megamenu__title">
                              {{ block.settings.megamenu__image1_title }}
                            </div>
                            {% endif %}
                          </a>
                        </div>
                        {% endif %}

                        {% if block.settings.megamenu__image2 != blank %}
                        {%- assign mm2_h = block.settings.megamenu__image2.width
                          | divided_by: block.settings.megamenu__image2.aspect_ratio
                          | round
                        -%}
                        <div class="megamenu__column">
                          <a href="{{ block.settings.megamenu__image2_link }}">
                            <div class="megamenu__image">
                              {{
                                block.settings.megamenu__image2
                                | image_url: width: 800
                                | image_tag:
                                  width: block.settings.megamenu__image2.width,
                                  height: mm2_h,
                                  sizes: '280px',
                                  widths: '200, 360, 560, 800',
                                  loading: 'lazy',
                                  alt: block.settings.megamenu__image2.alt | default: block.settings.megamenu__image2_title | default: link.title
                              }}
                            </div>
                            {% if block.settings.megamenu__image2_title != blank %}
                            <div class="megamenu__title">
                              {{ block.settings.megamenu__image2_title }}
                            </div>
                            {% endif %}
                          </a>
                        </div>
                        {% endif %}

                        {% if block.settings.megamenu__image3 != blank %}
                        {%- assign mm3_h = block.settings.megamenu__image3.width
                          | divided_by: block.settings.megamenu__image3.aspect_ratio
                          | round
                        -%}
                        <div class="megamenu__column">
                          <a href="{{ block.settings.megamenu__image3_link }}">
                            <div class="megamenu__image">
                              {{
                                block.settings.megamenu__image3
                                | image_url: width: 800
                                | image_tag:
                                  width: block.settings.megamenu__image3.width,
                                  height: mm3_h,
                                  sizes: '280px',
                                  widths: '200, 360, 560, 800',
                                  loading: 'lazy',
                                  alt: block.settings.megamenu__image3.alt | default: block.settings.megamenu__image3_title | default: link.title
                              }}
                            </div>
                            {% if block.settings.megamenu__image3_title != blank %}
                            <div class="megamenu__title">
                              {{ block.settings.megamenu__image3_title }}
                            </div>
                            {% endif %}
                          </a>
                        </div>
                        {% endif %}

                      {% endif %}
                    {% endfor %}
                  {% endif %}

                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset{% if section.settings.highlight_menu == link.title %} highlight_menu{% endif %}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
